<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BÉRLÉS ADATAI</title>
</head>
<body>

	<form action="/car/finalizeres" method="post">
		
		<input type="hidden" th:each="car : ${resDto.getCarDtoList()}" th:value="${car.getId()}" name="carId"/>
		<input type="hidden" th:value="${resDto.getStartDate()}" name="startDate"/>
		<input type="hidden" th:value="${resDto.getEndDate()}" name="endDate"/>
		
		<h3>Kérjük add meg a kölcsönzéshez szükséges adataid:</h3>
		<label>Név:</label>
		<input type="text" name="userName" placeholder="Gipsz Jakab" required/>
		<br></br>
		<label>Cím:</label>
		<input type="text" name="userAddress" placeholder="1111 Budapest Mező utca 23." required/>
		<br></br>
		<label>E-mail cím:</label>
		<input type="email" name="userEmail" placeholder="valami@gmail.com" required/>
		<br></br>
		<label>Telefonszám:</label>
		<input type="text" name="userPhone" placeholder="067023456789" required/>
		<br></br>
		
		<p name="daysBetween" th:text="'Foglalandó napok száma: ' + ${resDto.getDaysBetween()}"/>
		
		<p name="daysBetween" th:each="car : ${resDto.getCarDtoList()}" th:text="'Autó bérleti díja (HUF) 1 napra: ' + ${car.getFee()}"/>
		
		<input type="submit" value="Bérlés mentése">
	</form>

</body>
</html>