<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AUTÓKÖLCSÖNZŐ</title>

<style>
	table, th, td
	{
	  border: 1px solid black;
	  border-collapse: collapse;
	  padding: 20px;
	}
</style>

</head>
<body>

	<h1>AUTÓKÖLCSÖNZŐ</h1>
	
	<p>Válaszd ki mettől-meddig szeretnél autót kölcsönözni</p>
	
	<form action="/cars" method="get">
		<label>Kölcsönzés első napja</label>
		<input th:if="${resDto != null}" type="date" id="startdatepicker" th:value="${resDto.getStartDate()}" name="startDate" required/>
		<input th:if="${resDto == null}" type="date" id="startdatepicker" value="" name="startDate" required/>
		<br></br>
		<label>Kölcsönzés utolsó napja</label>
		<input th:if="${resDto != null}" type="date" id="enddatepicker" th:value="${resDto.getEndDate()}" name="endDate" required/>
		<input th:if="${resDto == null}" type="date" id="enddatepicker" value="" name="endDate" required/>
		<br></br>		
		<input type="submit" value="Szabad autók keresése">
	</form>
	
		<script>
		   const today = new Date();
		   const year = today.getFullYear();
		   const month = String(today.getMonth() + 1).padStart(2, '0');
		   const day = String(today.getDate()).padStart(2, '0');
		   const formattedDate = `${year}-${month}-${day}`;
		   document.getElementById('startdatepicker').setAttribute('min', formattedDate);
		   document.getElementById('enddatepicker').setAttribute('min', formattedDate);
		</script>
		
	<br></br>	
	
	<div th:if="${resDto != null}">
		
		<h3>Kölcsönözhető autók a megadott időszakban</h3>

		<table>
			<tr>
				<th>Autó azonosítója</th>
				<th>Autó Típusa</th>
				<th>Autó Rendszáma</th>
				<th>Autó Színe</th>
				<th>Autó bérleti díja (HUF) 1 napra</th>
				<th>Bérlés indítása az autóra</th>
			<tr/>
			<tr th:each="car : ${resDto.getCarDtoList()}">
				<td th:text="${car.getId()}">
				<td th:text="${car.getType()}"></td>
				<td th:text="${car.getPlateNumber()}"></td>
				<td th:text="${car.getColor()}"></td>
				<td th:text="${car.getFee()}"></td>
				<td>
					<form action="/cars/startres" method="post">
						<input type="hidden" th:value="${car.getId()}" name="carId"/>
						<input type="hidden" th:value="${resDto.getStartDate()}" name="startDate"/>
						<input type="hidden" th:value="${resDto.getEndDate()}" name="endDate"/>
						<input type="submit" value="Kibérlem">
					</form>
				</td>
			</tr>
		</table>
	</div>
	

</body>
</html>